{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <!-- logout button -->
            <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
        </div>
        <div class="row">
            <h2 class="text-center">Articles</h2>
            {% for newsinfo in news %}
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="card-header">
                            {{ newsinfo.title }}
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{ newsinfo.shortdescription }}</p>
                                <footer class="blockquote-footer">last updated at {{ newsinfo.dateupdated|date('Y-m-d H:i')  }}</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ pagerfanta(news) }}
    </div>

{% endblock %}